qtest
*.o
*.o.d
*.dSYM
.vscode
.devcontainer
core*
.cmd_history

# ctags files
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# Others
insert_head.txt
perf_sort_cmp.py
test_loop.py
test_loop2.py